// Place all the styles related to the objects_to_sells controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-block {
    position: absolute;
    top: 5px;
    right: 20px;
}

.row {
    display: flex;
}